<main class="view">
  <div class="spinner-overlay" *ngIf="showSpinner">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  <mat-card class="medical-card">
    <mat-card-header>
      <mat-card-title>
        <!-- <mat-icon class="action-mat-icon"> keyboard_backspace </mat-icon> Customer/Company Details -->
        <div class="tab-header-label-container">
          <mat-icon class="action-mat-icon" aria-label="back" (click)="navigateBack()">keyboard_backspace</mat-icon>
          <span>Medical-Team Details</span>
        </div>
      </mat-card-title>
      <!-- <button mat-raised-button color="primary" type="button" (click)="navigateToAdd()">Add Customer/Company</button> -->
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list [cols]="columns ? 3 : 1" rowHeight="700" gutterSize="10">
        <mat-grid-tile [colspan]="columns ? 2: 1" [rowspan]="1">
          <mat-tab-group [selectedIndex]="defaultTabIndex">
            <mat-tab label="Profile">
              <div class="tab-header-label-container bordered">
                <mat-icon class="action-mat-icon colored" aria-label="back" (click)="navigateToEdit()">edit</mat-icon>
                <span>Edit</span>
              </div>
              <div class="company-content" *ngIf="medicalData">
                <div fxLayout="row" class="content" fxLayoutAlign="start center" *ngFor="let data of medicalProfile">
                  <div fxFlex="40%" fxFlex.xs="100%">
                    {{data.label}}
                  </div>
                  <div style="width: 40px; text-align: center;">
                    :
                  </div>
                  <div fxFlex="60%" fxFlex.xs="100%" class="content-rhs">
                    {{medicalData[data.key] || ''}}
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Documents">
              <div class="company-content pd-top" *ngIf="medicalData">
                <div fxLayout="row" class="content" fxLayoutAlign="start center" *ngFor="let data of medicalDocuments">
                  <div fxFlex="40%" fxFlex.xs="100%">
                    {{data.label}}
                  </div>
                  <div style="width: 40px; text-align: center;">
                    :
                  </div>
                  <div fxFlex="60%" fxFlex.xs="100%" class="content-rhs">
                    <a [href]="appConstants.MEDICAL_DOCUMENTS_URL + medicalData[data.key]" target="_blank">{{medicalData[data.key] || ''}}</a>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Insurance"> Insurance </mat-tab>
            <mat-tab label="Grading/Reviews"> Grading/Reviews </mat-tab>
            <mat-tab label="Finance"> Finance </mat-tab>
          </mat-tab-group>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" rowHeight="200" [rowspan]="1">
          <iframe width="600" height="450" frameborder="0" style="border:0" [src]="getMapUrl(medicalData?.address)"
            allowfullscreen></iframe>

        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
