<div class="d-flex-sb align-center">
  <div mat-dialog-title>
    Payment
  </div>
  <button mat-icon-button (click)="onNoClick()">
    <mat-icon class="action-mat-icon" aria-label="back">close</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
