<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="https://app.teamedserv.com/assets/admin/images/logo.png" height="42px">
    </mat-toolbar>
    <mat-nav-list>
      <span class="pl-2">NAVIGATION</span>
      <ul>
        <li *ngFor="let navItem of getNavItems()">
          <a class="links" mat-list-item href="#">
            <div class="icon-label-container">
              <mat-icon>{{navItem.icon}}</mat-icon>
              <span>{{ navItem.label }}</span>
            </div>
          </a>
        </li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- <div style="display: flex; justify-content: space-between;"> -->
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>teamedserv-app</span>
      <a href="#" class="dropdown-toggle waves-effect user-link" data-toggle="dropdown" aria-expanded="true">
        <img src="https://app.teamedserv.com/assets/admin/images/users/avatar-1.jpg" alt="user-img"
          class="img-circle user-img">
      </a>
      <!-- </div> -->
    </mat-toolbar>
    <app-home></app-home>

  </mat-sidenav-content>
</mat-sidenav-container>
