/* You can add global styles to this file, and also import other style files */
@import '~@mdi/font/css/materialdesignicons.min.css';

/* styles.css or custom CSS file */
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/static/OpenSans-Regular.ttf') format('ttf'), /* Adjust font file path */
       url('./assets/fonts/static/OpenSans-SemiBold.ttf') format('ttf'),
       url('./assets/fonts/static/OpenSans-Bold.ttf') format('ttf'),
       url('./assets/fonts/static/OpenSans-Light.ttf') format('ttf');
}

@font-face {
  font-family: "OpenSans-Light";
  font-style: normal;
  font-display: auto;
  src: url("./assets/fonts/static/OpenSans-Light.ttf")format('ttf');
}
@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-display: auto;
  src: url("./assets/fonts/static/OpenSans-Bold.ttf")format('ttf');
}
@font-face {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-display: auto;
  src: url("./assets/fonts/static/OpenSans-Regular.ttf")format('ttf');
}
@font-face {
  font-family: "OpenSans-SemiBold";
  font-style: normal;
  font-display: auto;
  src: url("./assets/fonts/static/OpenSans-SemiBold.ttf")format('ttf');
}


html, body { height: 100%; }
body { margin: 0;  }

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

.action-mat-icon {
  color: #0c2e43;
  cursor: pointer;
  padding: 1px;
}


