.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: #e9ecf2;
  border: 1px solid #e9ecf2;
  border-radius: 3px;
  max-height: 400px;

  mat-card-title {
    text-transform: uppercase;
    font-size: 14px;
    color: #505458;
  }

  .table-container {
    display: table;
    border-collapse: collapse;
    width: 100%;
    /* Set your desired width */
  }

  .table-row {
    display: table-row;
  }

  .table-cell {
    display: table-cell;
    border: 1px solid #ddd;
    /* Add borders or styles as needed */
    padding: 8px;
  }

  .table-header {
    font-weight: bold;
    background-color: #f5f5f5;
    /* Optional header background color */
  }

}

.dashboard-card-content {
  text-align: center;
  display: flex;
  justify-content: space-between;

  .card-content-text {
    text-align: initial;
    padding-top: 10px;
  }

  span {
    font-size: 30px;
  }

  mat-icon {
    position: absolute;
    color: #6d6dff;
  }
}
::ng-deep .set2-grid mat-card {
  min-height: 200px !important;
}

.mdi {
  font-size: 50px;
  border: 1px solid rgba(58, 201, 214, 0.5);
  border-radius: 50%;
  color: rgba(58, 201, 214, 0.5);
  padding: 10px;
}
