<main>
  <div class="spinner-overlay" *ngIf="showSpinner">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  <mat-card class="customer-card">
    <mat-card-header>
      <mat-card-title>All Patient Teams</mat-card-title>
      <button mat-raised-button color="primary" type="button" (click)="navigateToAdd()">Add Patient</button>
    </mat-card-header>
    <mat-card-content>
      <div class="search">
        <input type="text" class="custom-input" placeholder="Search">
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="custom-table">

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef style="max-width: 150px;"> No. </th>
            <td mat-cell *matCellDef="let element; let i = index" style="max-width: 150px;"> {{ i + 1 }} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef style="max-width: 150px;"> Name </th>
            <td mat-cell *matCellDef="let element" style="max-width: 150px;" [matTooltip]="element.name ">
              {{element.name }} </td>
          </ng-container>

          <!-- Profession Column -->
          <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef style="max-width: 150px;"> Address </th>
            <td mat-cell *matCellDef="let element" style="max-width: 150px;"> {{element.address}} </td>
          </ng-container>

          <!-- Email/Phone No Column -->
          <ng-container matColumnDef="Phone No">
            <th mat-header-cell *matHeaderCellDef style="max-width: 200px;">Phone No </th>
            <td mat-cell *matCellDef="let element" style="max-width: 200px;"> <span
                [matTooltip]="element.email">{{element.email}}</span> <br> {{element.mobile}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef style="max-width: 150px;"> Action </th>
            <td mat-cell *matCellDef="let element" style="max-width: 150px;">
              <div class="icon-container">
                <mat-icon class="action-mat-icon" (click)="navigateToEdit(element)">edit</mat-icon>
                <mat-icon class="action-mat-icon" (click)="navigateToView(element)">remove_red_eye</mat-icon>
                <mat-icon class="action-mat-icon" (click)="handleDeletePatient(element.customer_id)">delete</mat-icon>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>


    </mat-card-content>
  </mat-card>
</main>
